/*###   nav  ###*/
	
	.navbar{ 

		height: 50px;
		color: var(--col-letra);
		background: var(--bg-primary);
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.nav-menu{
		width: 70%;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around ;
		transition: all 1s ease;
	}
	.nav-menu-item{
		list-style: none;
		height: 100%;
		
	}
	.nav-menu-link{
		height: 100%;
		text-decoration: none;
		color: var(--col-letra-blanca);
		transition: all .5s ease;
		display: flex;
		align-items: center;
		padding: 0 10px;
		
	}
	.nav-menu-item:hover{
		background-color: var(--bg-third);
		color: var(--col-letra-blanca);
		border-radius: 3px;
	}
	.active{
		background-color: var(--bg-third);
		color: var(--col-letra-blanca);
		border-radius: 3px;	
		height: 100%;
	}
	.toggle-menu-list{
		display: none;
		color: var(--col-letra);
		font-size: 2em;
		position: absolute;
		top: 20px;
		right: 20px;
		background: none;
		border: 1px solid var(--col-toggle);
		border-radius: 3px;

	}
	.toggle-menu-x{
		display: none;
		color: var(--col-letra-blanca);
		font-size: 2em;
		position: fixed;
		right: 20px;
		top: 20px;
		background: none;
		border: 1px solid var(--col-toggle);
		border-radius: 3px;
	}
	
		/*###   media query toggle ###*/
		@media screen and (max-width: 768px){
			.navbar{
				background: none;
				display: flex;
				flex-direction: column;
			}
			.nav-menu{
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				justify-content: space-evenly;
				background: #23273B;
				margin: 0;
				padding: 0;
				position: fixed;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				font-size: 1.4em;
			}
			.nav-menu-item{
				height: 50px;
				width: 100%;
			}
			.nav-menu-link{
				color: var(--col-letra-blanca);
				padding: 3px;
				display: flex;
				flex-flow: column wrap;
				align-items: center;
				justify-content: center;
				font-size: .6em;
			}
			.nav-menu-link:hover{
				background: none;	
				color: var(--col-toggle);	
			}
			.nav-menu_visible{
				left: 0;
			}
			.toggle-menu_visible{
				display: block;

			}
			
		}